<app-accordion>
  <!-- <ng-template accordionBody>
    <app-post></app-post>
  </ng-template> -->
  <div accordionBody>
    <app-post></app-post>
  </div>
</app-accordion>

<!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">
  Create template modal
</button>

<div #template>
  <app-modal></app-modal>
</div> -->

<!-- <form [formGroup]="form">
  <input type="text" formControlName="name" placeholder="name" />
</form>

<p>{{ form.controls["name"].touched }}</p>
<p>{{ form.value | json }}</p> -->
